In [22]:
import pandas as pd
import numpy as np
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [41]:
df = pd.read_csv('./data/BA_reviews_lemmatized.csv', converters={'reviews':pd.eval})

In [24]:
df.head()

,trip_verification,reviews,num_words,review_sentence
0,False,"['I', 'travel', 'British', 'Airways', 'Sweden'...",196,I travel British Airways Sweden Los Angeles Lo...
1,False,"['Food', 'lousy.', 'Who', 'plan', 'Asian', 'Hi...",54,Food lousy. Who plan Asian Hindu Vegetarian me...
2,True,"['Had', 'worst', 'experience.', 'The', 'flight...",59,Had worst experience. The flight London Toront...
3,True,"['The', 'grind', 'staff', 'helpful.', 'Felt', ...",32,The grind staff helpful. Felt like want rush c...
4,True,"['Second', 'time', 'BA', 'Premium', 'Economy',...",50,Second time BA Premium Economy newer aircraft ...

In [25]:
analyser = SentimentIntensityAnalyzer()
df['Scores'] = df['review_sentence'].apply(lambda Review: analyser.polarity_scores(Review))
df['Compound'] = df['Scores'].apply(lambda score_dict: score_dict['compound'])

In [26]:
df.head()

,trip_verification,reviews,num_words,review_sentence,Scores,Compound
0,False,"['I', 'travel', 'British', 'Airways', 'Sweden'...",196,I travel British Airways Sweden Los Angeles Lo...,"{'neg': 0.094, 'neu': 0.858, 'pos': 0.048, 'co...",-0.8573
1,False,"['Food', 'lousy.', 'Who', 'plan', 'Asian', 'Hi...",54,Food lousy. Who plan Asian Hindu Vegetarian me...,"{'neg': 0.187, 'neu': 0.664, 'pos': 0.149, 'co...",-0.5574
2,True,"['Had', 'worst', 'experience.', 'The', 'flight...",59,Had worst experience. The flight London Toront...,"{'neg': 0.174, 'neu': 0.745, 'pos': 0.082, 'co...",-0.6486
3,True,"['The', 'grind', 'staff', 'helpful.', 'Felt', ...",32,The grind staff helpful. Felt like want rush c...,"{'neg': 0.113, 'neu': 0.65, 'pos': 0.237, 'com...",0.6124
4,True,"['Second', 'time', 'BA', 'Premium', 'Economy',...",50,Second time BA Premium Economy newer aircraft ...,"{'neg': 0.048, 'neu': 0.562, 'pos': 0.391, 'co...",0.9713

In [27]:
def sentiment (score):
    if score >= 0.5:
        return 'Positive'
    if (score > 0) and (score < 0.5):
        return 'Neutral'
    if score <= 0:
        return 'Negative'

In [28]:
df['sentiment'] = df['Compound'].apply(sentiment)

In [29]:
df['sentiment'].value_counts()

Positive    502
Negative    396
Neutral     102
Name: sentiment, dtype: int64

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/shashank/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

TypeError: doc2bow expects an array of unicode tokens on input, not a single string

AttributeError: 'str' object has no attribute 'tolist'

In [ ]:
df.to_csv('./data/labelled_reviews.csv', index=False)